<div class="card-class">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ recipeData.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/{{ image }}" alt="" (click)="onImageSelect(recipeData.name)" />
        <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
    </mat-card>
</div>